<div class="bg-image">
    <div class="main">
        <div class="laptopview">
            <div class="container"><br>
                <p class="abouttext">FourthDM <br>
                    Digital Marketing Agency</p>
                    <br>
                <p class="maintext animate__animated animate__fadeInLeft">
                    Digital marketing services that <br>drive real results
                </p>
                <p style="font-size: larger;">Services focused on growth, traffic, and conversions</p>

                <div class="text-end">
                    <p class="textend animate__animated animate__slideInRight"> Elevating brands through expert digital services</p>
                </div>
                <br>
            </div>
        </div>

        <div class="mobileview">
            <div class="container"><br><br>
                <p class="abouttext">FourthDM <br>
                    Digital Marketing Agency</p>
                <p class="maintext animate__animated animate__fadeInLeft">
                     Digital marketing services that drive real results
                </p>
                <p style="font-size: larger;">Services focused on growth, traffic, and conversions</p>
                <br><br>
                <div class="text-end">
                    <p class="textend animate__animated animate__slideInRight">Elevating brands through <br> expert digital services </p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<br><br>
<div class="container">
    <div class="text-center">
        <p class="textblack"> <b>Our Services</b></p>
    </div>
    <br>
    <div class="row">

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/Website development .jpg" class="img" alt="Website development service">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Website Development</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/software development.jpg" class="img" alt="Software development service">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Software Development</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/6.webp" class="img" alt="Social Media marketing service">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Social Media Management</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/1.jpg" class="img" alt="Meta ads service">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Meta Ads</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/3.webp" class="img" alt="Digital marketing service">
                </div>
                <div class="card-footer text-muted">
                    <h5 [routerLink]="['/Branding']"><b>Digital Marketing</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/5.webp" class="img" alt="Goggle ads service">
                </div>
                <div class="card-footer text-muted">
                    <h5 [routerLink]="['/Other']"><b>Google Ads</b></h5>
                </div>
            </div>
            <br>
        </div><br>


    </div>
</div>
<br>

<br>
<div class="contactsection">
    <div class="container">
        <br>
        <div class="row">
            <br>
            <div class="col-md-7">
                <p class="contacttext">Connect with Our Dedicated Team for Expert Guidance and Support</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, blanditiis! Ut nulla cumque a
                    provident dolor officia perspiciatis minima possimus tempore nemo corrupti similique deserunt ab,
                    commodi repellat, natus eum.</p>
                <ul>
                    <li><i class="fa-regular fa-square-check"></i></li>
                    <li><i class="fa-regular fa-square-check"></i></li>
                    <li><i class="fa-regular fa-square-check"></i></li>
                    <li><i class="fa-regular fa-square-check"></i></li>
                    <li><i class="fa-regular fa-square-check"></i></li>
                </ul>
            </div><br>

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <p>Have Questions?</p>
                        <p style="font-size: 35px; font-weight: bold;">Send Us Message</p>
                        <form class="contact-form" (submit)="sendEmail($event)" class="row g-3 needs-validation"
                            novalidate>

                            <div class="col-md-12">
                                <input type="text" name="name" class="form-control" id="Name" value=""
                                    placeholder="Enter Your Name " required>
                                <div class="valid-feedback">
                                    Your Name
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="email" name="email" class="form-control" id="EmailAddress"
                                    placeholder="Enter Your Email Address.." required>
                            </div>
                            <div class="col-md-12">
                                <input type="number" name="phoneno" class="form-control" id="MobileNo" value=""
                                    placeholder="Enter your Mobile number" required>
                                <div class="valid-feedback">
                                    Your number
                                </div>
                            </div>

                            <div class="col-md-12">
                                <textarea type="text" name="message" class="form-control" id="Message"
                                    placeholder="Message" required></textarea>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-warning btn-lg" type="submit" value="Send">
                                    <i class="fa-solid fa-paper-plane"></i> Get In Touch</button> <br> <br>
                            </div>
                            <br><br>
                        </form>
                    </div>
                </div>
                <br>
            </div><br>
        </div>
    </div>
</div>