<div class="main">
    <div class="laptopview">
        <div class="bg-image">
            <img src="/assets/serviceBackground.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="container">
                        <div class="container"><br>
                            <p class="abouttext">FourthDM <br>
                                Digital Marketing Agency</p>
                            <br>
                            <p class="maintext animate__animated animate__fadeInLeft">
                                Let’s connect and shape the <br> future of your brand online
                            </p>
                            <p style="font-size: larger; color: white;">Connect with us and bring your digital ambitions
                                to life</p>

                            <div class="text-end">
                                <p class="textend animate__animated animate__slideInRight"> Fuel for your digital growth
                                    journey</p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobileview">
        <div class="bg-image">
            <img src="/assets/serviceBackground.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask" style="background-color: rgba(255, 254, 254, 0.247);">
                <div class="d-flex justify-content-center align-items-center h-100" style="padding: 3%;">
                    <div class="container"> <br><br>
                        <p class="abouttext">FourthDM <br>
                            Digital Marketing Agency</p>
                        <p class="maintext">
                            Let’s connect and shape the future of your brand online
                        </p>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            <h3>Let’s connect and grow your business digitally</h3> <br>
            <h5><i class="fa-solid fa-phone-volume"></i> Phone</h5>
            02026608663 <br>
            +91 7709892292
            <br> <br>
            <h5><i class="fa-solid fa-envelope"></i> Send Email</h5>
            yes&#64;fourthdm.com <br>
            vikas.t&#64;fourthdm.com
            <br> <br>
            <h5><i class="fa fa-location-dot"></i> Office</h5>
            Gera's Imperium Alpha,Grant Road, Kharadi, Pune, Maharashtra 411014.

            <br><br>
        </div>
        <br>
        <div class="col-md-6">
            <h3>Contact us</h3> <br>

            <form class="contact-form" (submit)="sendEmail($event)" class="row g-3 needs-validation" novalidate>
                <div class="col-md-10">
                    <input type="text" name="name" class="form-control" id="Name" value=""
                        placeholder="Enter Your Name " required>
                    <div class="valid-feedback">
                        Your Name
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="email" name="email" class="form-control" id="EmailAddress"
                        placeholder="Enter Your Email Address.." required>
                </div>
                <div class="col-md-10">
                    <input type="number" name="phoneno" class="form-control" id="MobileNo" value=""
                        placeholder="Enter your Mobile number" required>
                    <div class="valid-feedback">
                        Your number
                    </div>
                </div>
                <div class="col-md-10   ">
                    <textarea type="text" name="message" class="form-control" id="Message" placeholder="Message"
                        required></textarea>
                </div>
                <div class="col-6">
                    <button class="btn btn-lg" style="background-color:orange;color: white;" type="submit" value="Send">
                        Submit</button> <br> <br>
                </div>
                <br><br>
            </form>
        </div>
        <br>
    </div>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <p class="textconnect">Let’s connect and unlock your brand’s digital potential.</p>
                </div><br>
                <div class="col-md-4"><br>
                    <button class="btn btn-lg btn-rounded"> <a
                            href="https://wa.me/917709892292?text=Hii%20Welcome to Fourth Dimension Media"
                            target="_blank" title="Connect with Fourthdm">
                            <b class="getstart" >Start Free Consultation</b> </a></button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>