<div class="main">
    <div class="laptopview">
        <div class="bg-image">
            <img src="/assets/serviceBackground.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask" style="background-color: rgba(240, 235, 235, 0.459);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-5">
                               
                            </div><br>
                            <div class="col-md-2"></div><br>
                            <div class="col-md-5">
                             <img src="https://fourthdm-web-data.s3.ap-south-1.amazonaws.com/branding.png" alt="">

                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobileview">
        <div class="bg-image">
            <img src="/assets/serviceBackground.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask" style="background-color: rgba(36, 35, 35, 0.247);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="container">
                        <div class="row">
                            <div class="">
                                <div class="homemaintext">
                                    Best Digital Marketing Company
                                </div>
                                <ul>
                                    <li><i class="fa-regular fa-square-check"></i> <span> Trusted By
                                            Brands</span></li>
                                    <li><i class="fa-regular fa-square-check"></i> <span> Best Consulting</span></li>
                                    <li><i class="fa-regular fa-square-check"></i> <span> Social Media Page
                                            Optimizations</span></li>
                                </ul>

                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-image">
    <div class="main">
        <div class="laptopview">
            <div class="container"><br>
                <p class="abouttext">FourthDM <br>
                    Digital Marketing Agency</p>
                <br>
                <p class="maintext">
                    Branding is a combination of <br> marketing and business strategies
                </p>
                <p style="font-size: larger;"></p>

                <div class="text-end">
                    <p class="textend"> Powering your digital success</p>
                </div>
                <br>
            </div>
        </div>

        <div class="mobileview">
            <div class="container"><br><br>
                <p class="abouttext">FourthDM <br>
                    Digital Marketing Agency</p>
                <p class="maintext">
                    Digital marketing services that drive real results
                </p>
                <p style="font-size: larger;">Services focused on growth, traffic, and conversions</p>
                <br><br>
                <div class="text-end">
                    <p class="textend">Elevating brands through <br> expert digital services </p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br><br>
    <div class="text-center">
        <p>Branding is a combination of marketing and business strategies that help people think about a company, a
            product, or a person in a particular way. <br> Regardless of your industry, you always need to consider your
            competitors and what you can do to set your business apart</p>
    </div>

   
    <br><br>
    <div class="row">

        <!-- LEFT SIDE (Vertical Tabs) -->
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column" id="pills-tab" role="tablist">

                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-home">LOGO </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-profile">Logo</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-website">Website</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link " data-bs-toggle="pill" data-bs-target="#pills-contact">Brochure</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-package">Product
                        Design</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-social">Social Media</button>
                </li>

            </ul>
        </div>

        <!-- RIGHT SIDE (Tab Content) -->
        <div class="col-md-9">
            <div class="tab-content">

                <div class="tab-pane fade show active" id="pills-home">
                    <div class="container">
                        <div class="card-body logo">
                            <br> <br>
                            <p class="paragraph">Create your logo to define your company's work domain. <br> Whether you
                                have a new
                                business or an established one, brand loyalty is always a concern. <br> Whenever a user
                                visits your website,
                                then the first thing that would be visible is your logo. <br> If you succeed in
                                impressing the customer on a first attempt, then your half job is done to make them
                                regular
                                customers.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-profile">
                    Logo Content
                </div>

                <div class="tab-pane fade" id="pills-website">
                    Website Content
                </div>

                <div class="tab-pane fade " id="pills-contact">
                    Brochure Content
                </div>

                <div class="tab-pane fade" id="pills-package">
                    Product Design Content
                </div>

                <div class="tab-pane fade" id="pills-social">
                    Social Media Content
                </div>

            </div>
        </div>

    </div>

    <br><br>
</div>