<app-navbar></app-navbar>

<ul class="menu">
  <li>
    <a href="" [routerLink]="['/contact']" aria-label="Read more about">
      <span>

        <i class="bi bi-chat-right-text-fill contact"></i>
      </span>
      <p class="p">Enquery Form</p>
    </a>
  </li>

  <li>
    <a href="https://wa.me/917709892292?text=Hii%20welcome to fourthdm" aria-label="Read more about" target="_blank">
      <span>
        <i class="fa-brands fa-whatsapp icon"></i>
      </span>
      <p class="p">Add To Whatsapp</p>
    </a>
  </li>

  <li>
    <a href="https://www.facebook.com/fourthdm.media" aria-label="Read more about" target="_blank">
      <span>
        <i class="fa-brands fa-facebook contact"></i>
      </span>
      <p class="p">Add To Facebook</p>
    </a>
  </li>

  <li>
    <a href="https://www.instagram.com/fourthdm_media/?igshid=NTc4MTwNjQ2YQ%3D%3D" aria-label="Read more about"
      target="_blank">
      <span>
        <i class="fa-brands fa-instagram iconi"></i>
      </span>
      <p class="p">Add To Instagram</p>
    </a>
  </li>
</ul>
<div>
  <button (click)="scrollToTop()" style="background-color: #fd7a00d4;" aria-label="Read more about">👆</button>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>