<div class="main">
    <div class="bg-image">
        <img src="/assets/banner1.webp" class="img-fluid" alt="Sample" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0"></p>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="text-center">
        <h2 class="text-black"> <b>Our Services</b></h2>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/1.webp" alt="">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Meta Ads</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/3.webp" alt="">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Digital Marketing</b></h5>
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/5.webp" alt="">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Google Ads</b></h5>
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/Website development .jpg" alt="">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Website Development</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/software development.jpg" alt="">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Software Development</b></h5>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="">
                    <img src="/assets/services/6.webp" alt="">
                </div>
                <div class="card-footer text-muted">
                    <h5><b>Social Media Marketing</b></h5>
                </div>
            </div>
            <br>
        </div><br>
    </div>
</div>

<br>

<div class="container">
    <div class="row">

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-brands fa-whmcs fa-2xl"></i>
                <br> <br>
                <p>Automobile </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-solid fa-briefcase fa-2xl"></i>
                <br> <br>
                <p>Professional </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                <br> <br>
                <p>Education </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-regular fa-square-plus fa-2xl"></i>
                <br> <br>
                <p>Healthcare & Pharma </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-solid fa-cart-plus fa-2xl"></i>
                <br> <br>
                <p>Ecommerce </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-solid fa-pen-ruler fa-2xl"></i>
                <br> <br>
                <p>Interior Design </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-solid fa-solar-panel fa-2xl"></i>
                <br> <br>
                <p>Solar Industries</p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-solid fa-building-ngo fa-2xl"></i>
                <br> <br>
                <p> Ngo </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-solid fa-bottle-water fa-2xl"></i>
                <br> <br>
                <p>Plastic </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-brands fa-whmcs fa-2xl"></i>
                <br> <br>
                <p>Automobile </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-brands fa-whmcs fa-2xl"></i>
                <br> <br>
                <p>Automobile </p>
                <br>
            </div>
        </div><br>

        <div class="col-md-2">
            <div class="text-center">
                <i class="fa-brands fa-whmcs fa-2xl"></i>
                <br> <br>
                <p>Automobile </p>
                <br>
            </div>
        </div><br>

    </div>
</div>