

<div class="aboutsection">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br>
                <p class="maintext">Power Your Digital Journey with Fourth Dimension Media.</p>
                <p class="submiantext">Best digital marketing agency in Pune</p>
                <p class="paratext" style="font-size: larger;">
                    We provide end-to-end digital marketing solutions, including SEO, PPC, website
                    development, social media marketing, and more to help your business thrive in the digital age.
                    <br><br>
                    We have been working in this field for 6 years and counting. During this
                    ongoing journey, We realized that a notable amount of Business owners throughout the world are using
                    Digitization tools and
                    techniques to boost their business.

                    <br><br>
                    To resolve this future problem of data scarcity, an immediate action is required to put the business
                    in the digital realm.
                    The Fourth Dimension team is right here to help and establish the digital presence of your business
                    and enroot it for a better and competitive future.
                </p>
                <br>
            </div><br>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <br>
                        <div class="card">
                            <img src="/assets/web-development.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Web Design/Development</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-6 col-sm-6">
                        <div class="card">
                            <img src="/assets/SEO.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">SEO/SMO</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-6 col-sm-6">
                        <br>
                        <div class="card">
                            <img src="/assets/Video.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Branding Photography/Videography</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-6 col-sm-6">
                        <div class="card">
                            <img src="/assets/socialmarketing.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Social Media Management</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                </div>
                <br>
            </div>
            <br>

        </div>
    </div>
</div>

<div class="counting">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">6+</p>
                    <p class="headline">Years of Digital Impact</p>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">40+</p>
                    <p class="headline">Satisfied Clients</p>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">76%</p>
                    <p class="headline">Industry Approval Rate</p>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">66%</p>
                    <p class="headline"> Clients Choose Us </p>
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
</div>
<br><br>


<br><br>
<div class="ClientSection">
    <div class="container">

        <div class="text-center">
            <h1 class="text-black"> <b>Our Clients</b></h1>
            <p style="font-size: 25px;">Collection of clients we've worked with and helped grow</p>
        </div>

        <div class="cards">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/1.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/3.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/23.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/19.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/16.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/18.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/6.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/7.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/8.jpg" class="img-fluids" alt="Client 1">
                            <br>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/9.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/10.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/12.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/13.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/14.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/15.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/2.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/17.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/20.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>

<div class="container">

    <div class="text-center">
        <h1 class="text-black"> <b>Our Social Media</b></h1>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="social">
                <div class="card-body"><iframe class="instagram-media instagram-media-rendered" id="instagram-embed-1"
                        src="https://www.instagram.com/fourthdm_media/embed/?cr=1&amp;v=12&amp;wp=636&amp;rd=https%3A%2F%2Ffourthdm.com&amp;rp=%2Fhome#%7B%22ci%22%3A1%2C%22os%22%3A9906455.399999999%2C%22ls%22%3A89.39999999850988%2C%22le%22%3A354.6000000014901%7D"
                        allowtransparency="true" allowfullscreen="true" frameborder="0" height="643"
                        data-instgrm-payload-id="instagram-media-payload-1" scrolling="no"
                        style="background: white; max-width: 100%; width: 99.375%; border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="social">
                <div class="card-body"><iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffourthdm.media&amp;tabs=timeline&amp;width=600&amp;height=620&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
                        width="100%" height="620" scrolling="no" frameborder="0" allowfullscreen="true"
                        title="social media pages facebook"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                        style="border: none; overflow: hidden;"></iframe></div>
            </div>
        </div>
    </div>

</div>

<div class="socialmedia">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div><br>
            <div class="col-md-6"></div><br>
        </div>
    </div>
</div>

<div class="getintouch">
    <div class="mobileview">
        <div class="bg-image">
            <img src="/assets/background.png" class="img-fluid" alt="Sample" />
            <div class="mask" style="background-color: rgba(36, 35, 35, 0.568);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="text-white mb-0 experience">
                        <br>
                        <span> We are Delivering
                            <br> The Best Customer Experience </span>
                        <br>
                        <button class="btn btn-lg btn-danger btn-rounded"> <a
                                href="https://wa.me/917709892292?text=Hii%20Welcome to Fourth Dimension Media"
                                target="_blank">
                                <b class="getstart">Let's Work</b> </a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="laptopview">
        <div class="bg-image">
            <img src="/assets/bg.png" class="img-fluid" alt="Sample" />
            <div class="mask" style="background-color: rgba(36, 35, 35, 0.568);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="text-white mb-0 experience">
                        <br>
                        <span> We are Delivering
                            <br> The Best Customer Experience </span>
                        <br>
                        <button class="btn btn-lg btn-danger btn-rounded"> <a
                                href="https://wa.me/917709892292?text=Hii%20Welcome to Fourth Dimension Media"
                                target="_blank">
                                <b class="getstart">Let's Work</b> </a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>