<div class="main">
    <div class="laptopview">
        <div class="bg-image">
            <img src="/assets/banner1.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask" style="background-color: rgba(36, 35, 35, 0.247);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-5">
                                <div class="homemaintext">
                                    Best Digital Marketing Company
                                </div>
                                <p><i class="fa-regular fa-square-check"></i> <span class="list"> Trusted By
                                        Brands</span>
                                </p>
                                <p><i class="fa-regular fa-square-check"></i> <span class="list"> Website
                                        Analysis</span>
                                </p>
                                <p><i class="fa-regular fa-square-check"></i> <span class="list"> SEO Reports</span></p>
                                <p><i class="fa-regular fa-square-check"></i> <span class="list"> Best Consulting</span>
                                </p>
                                <p><i class="fa-regular fa-square-check"></i> <span class="list"> Social Media Page
                                        Optimizations</span></p>
                            </div><br>
                            <div class="col-md-2"></div><br>
                            <div class="col-md-5">
                                <div class="card contactform">
                                    <div class="card-body">
                                        <p class="analysis">Let’s create something amazing together</p>
                                        <p class="text-black">Get free consultation on any of your query </p>
                                        <form class="contact-form" class="row g-3 needs-validation" novalidate>
                                            <div class="col-md-12">

                                                <input type="text" name="name" class="form-control" id="Name" value=""
                                                    placeholder="Enter Your Name " required>

                                            </div>
                                            <div class="col-md-12">
                                                <input type="email" name="email" class="form-control" id="EmailAddress"
                                                    placeholder="Enter Your Email Address.." required>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="number" name="phoneno" class="form-control" id="MobileNo"
                                                    value="" placeholder="Enter Your Mobile Number" required>
                                                <div class="valid-feedback">
                                                    Your number
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <textarea type="text" name="message" class="form-control" id="Message"
                                                    placeholder="Message" required></textarea>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-lg" style="background-color:orange;color: white;"
                                                    type="submit" value="Send">
                                                    Submit</button> <br> <br>
                                            </div>
                                            <br><br>
                                        </form>
                                    </div>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobileview">
        <div class="bg-image">
            <img src="/assets/banner1.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask" style="background-color: rgba(36, 35, 35, 0.247);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="container">
                        <div class="row">
                            <div class="">
                                <div class="homemaintext">
                                    Best Digital Marketing Company
                                </div>
                                <ul>
                                    <li><i class="fa-regular fa-square-check"></i> <span> Trusted By
                                            Brands</span></li>
                                    <li><i class="fa-regular fa-square-check"></i> <span> Best Consulting</span></li>
                                    <li><i class="fa-regular fa-square-check"></i> <span> Social Media Page
                                            Optimizations</span></li>
                                </ul>

                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="aboutsection">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br>
                <p class="maintext">Power Your Digital Journey with Fourth Dimension Media.</p>
                <p class="submiantext">Best digital marketing agency in Pune</p>
                <p class="paratext" style="font-size: larger;">
                    We provide end-to-end digital marketing solutions, including SEO, PPC, website
                    development, social media marketing, and more to help your business thrive in the digital age.
                    <br><br>
                    We have been working in this field for 6 years and counting. During this
                    ongoing journey, We realized that a notable amount of Business owners throughout the world are using
                    Digitization tools and
                    techniques to boost their business.

                    <br><br>
                    To resolve this future problem of data scarcity, an immediate action is required to put the business
                    in the digital realm.
                    The Fourth Dimension team is right here to help and establish the digital presence of your business
                    and enroot it for a better and competitive future.
                </p>
                <br>
            </div><br>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <br>
                        <div class="card">
                            <img src="/assets/web-development.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Web Design/Development</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-6 col-sm-6">
                        <div class="card">
                            <img src="/assets/SEO.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">SEO/SMO</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-6 col-sm-6">
                        <br>
                        <div class="card">
                            <img src="/assets/Video.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Branding Photography/Videography</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-6 col-sm-6">
                        <div class="card">
                            <img src="/assets/socialmarketing.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Social Media Management</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                </div>
                <br>
            </div>
            <br>

        </div>
    </div>
</div>

<div class="Servicessection">
    <div class="text-center">
        <p class="headtext"> <b>Our Services</b></p>
    </div>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <p style="color: black;"><b>Services</b></p>
                <p class="Serviceheadline"> What We Offer</p>

                <div class="servicebox animate__animated animate__rotateInUpLeft">
                    <p class="servicenames">Branding</p>
                </div>
                <div class="servicebox2 animate__animated animate__rotateInUpLeft animate__delay-1s">
                    <p class="servicenames">Website Design</p>
                </div>
                <div class="servicebox3 animate__animated animate__rotateInUpLeft animate__delay-2s">
                    <p class="servicenames">Software Development</p>
                </div>
                <div class="servicebox4 animate__animated animate__rotateInUpLeft animate__delay-3s">
                    <p class="servicenames">Social Media Management</p>
                </div>
                <div class="servicebox5 animate__animated animate__rotateInUpLeft animate__delay-4s">
                    <p class="servicenames">Search Engine Optimization</p>
                </div>
                <br><br>
            </div>
            <br>

            <div class="col-md-8">
           
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="">
                                <img src="/assets/services/Website development .jpg" class="img"
                                    alt="Website development service">
                            </div>
                            <div class="card-footer text-muted">
                                <h5><b>Website Development</b></h5>
                            </div>
                        </div>
                        <br>
                    </div><br>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="">
                                <img src="/assets/services/software development.jpg" class="img"
                                    alt="Software development service">
                            </div>
                            <div class="card-footer text-muted">
                                <h5><b>Software Development</b></h5>
                            </div>
                        </div>
                        <br>
                    </div><br>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="">
                                <img src="/assets/services/6.webp" class="img" alt="Social Media marketing service">
                            </div>
                            <div class="card-footer text-muted">
                                <h5><b>Social Media Management</b></h5>
                            </div>
                        </div>
                        <br>
                    </div><br>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="">
                                <img src="/assets/services/1.webp" class="img" alt="Meta ads service">
                            </div>
                            <div class="card-footer text-muted">
                                <h5><b>Meta Ads</b></h5>
                            </div>
                        </div>
                        <br>
                    </div><br>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="">
                                <img src="/assets/services/3.webp" class="img" alt="Digital marketing service">
                            </div>
                            <div class="card-footer text-muted">
                                <h5><b>Digital Marketing</b></h5>
                            </div>
                        </div>
                        <br>
                    </div><br>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="">
                                <img src="/assets/services/5.webp" class="img" alt="Goggle ads service">
                            </div>
                            <div class="card-footer text-muted">
                                <h5><b>Google Ads</b></h5>
                            </div>
                        </div>
                        <br>
                    </div><br>

                </div>
            </div>
            <br>
        </div>
    </div>
</div>


<div class="industries">
    <br><br>
    <div class="container">
        <div class="text-center">
            <p class="text-white industriesname"> <b> Serving Our Clients Across <br> Diverse Industries</b></p>
        </div>
        <br>

        <div class="laptopview">
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-brands fa-whmcs fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Automobile </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-hot-tub-person fa-2xl"></i>
                        <!-- <i class="fa-solid fa-industry fa-2xl"></i> -->
                        <br> <br>
                        <p class="text-white">Manufacture </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Education </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-regular fa-square-plus fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Healthcare & Pharma </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-cart-plus fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Ecommerce </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-pen-ruler fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Interior Design </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-solar-panel fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Solar </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-building-ngo fa-2xl"></i>
                        <br> <br>
                        <p class="text-white"> Ngo </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-city fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Plastic </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-map-location-dot fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Travel & Tourism </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-flask-vial fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Chemical </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-md-2">
                    <div class="text-center">
                        <i class="fa-solid fa-photo-film fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Event Branding </p>
                        <br>
                    </div><br>
                </div><br>
            </div>
        </div>

        <div class="row mobileview">
            <div class="row">
                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-brands fa-whmcs fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Automobile </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-hot-tub-person fa-2xl"></i>
                        <!-- <i class="fa-solid fa-industry fa-2xl"></i> -->
                        <br> <br>
                        <p class="text-white">Manufacture </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Education </p>
                        <br>
                    </div><br>
                </div><br>

            </div>

            <div class="row">
                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-regular fa-square-plus fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Healthcare & Pharma </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-cart-plus fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Ecommerce </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-pen-ruler fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Interior Design </p>
                        <br>
                    </div><br>
                </div><br>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-solar-panel fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Solar </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-building-ngo fa-2xl"></i>
                        <br> <br>
                        <p class="text-white"> Ngo </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-city fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Plastic </p>
                        <br>
                    </div><br>
                </div><br>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-map-location-dot fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Travel & Tourism </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-flask-vial fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Chemical </p>
                        <br>
                    </div><br>
                </div><br>

                <div class="col-4">
                    <div class="text-center">
                        <i class="fa-solid fa-photo-film fa-2xl"></i>
                        <br> <br>
                        <p class="text-white">Event Branding </p>
                        <br>
                    </div><br>
                </div><br>
            </div>
        </div>
    </div>
</div>

<!-- <br><br>
<div class="ClientSection">
    <div class="container">

        <div class="text-center">
            <p class="headtext"> <b>Our Clients</b></p>
            <p style="font-size: 25px;">Collection of clients we've worked with and helped grow</p>
        </div>

        <div class="cards">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/1.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/3.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/23.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/19.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/16.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/18.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/6.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/7.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/8.jpg" class="img-fluids" alt="Client 1">
                            <br>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/9.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/10.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/12.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/13.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/14.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/15.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/2.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/17.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="">
                            <img src="/assets/Client/20.jpg" class="img-fluids" alt="Client 1"> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br> -->

<div class="counting">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">6+</p>
                    <p class="headline">Years of Digital Impact</p>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">40+</p>
                    <p class="headline">Satisfied Clients</p>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">76%</p>
                    <p class="headline">Industry Approval Rate</p>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="text-center">
                    <p class="h2">66%</p>
                    <p class="headline"> Clients Choose Us </p>
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
</div>
<br><br>

<div class="testimonialSection">
    <div class="container">
        <div class="text-center">
            <p class="headtext"> <b>Testimonials</b> </p>
            <p class="headline">What Our Client's Say</p>
        </div>

        <div class="cardreviews">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div><i class="fa-solid fa-minus"></i> <b> Harshada Keshave</b></div> <br>
                                        <p class="review">Thank you giving the design support for our hospital.
                                            Great designs and excellent help with practical solutions about digital
                                            growth.</p>

                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>Suraj Ingale</b> </div> <br>
                                        <p class="review">Thank you FourthDM team for great designs you have provided.
                                            Best designing and Media agency in kharadi.</p>

                                    </div>
                                </div>
                                <br>
                            </div><br>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>John creader</b></div> <br>
                                        <p class="review">Thank you for dynamic website you have designed for me.
                                            Great work guys keep it up.
                                        </p>

                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>Pallavi Ahingare</b></div> <br>
                                        <p class="review">Thank you for web application</p>
                                    </div>
                                </div>
                                <br>
                            </div><br>

                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>ChemMin Solutions</b></div> <br>
                                        <p class="review">We have been working with FOURTHDM for our digital marketing
                                            and branding
                                            requirements, and
                                            the experience has been excellent. They initially helped us with website
                                            design and complete
                                            branding for ChemMin Solutions, and later supported us with SEO, social
                                            media management,
                                            and lead generation.
                                            Being an industrial chemical manufacturer, it was important for us to build
                                            a strong and
                                            professional online presence, and FOURTHDM has done a great job in that. We
                                            have seen
                                            improvement in our Google visibility and are receiving better quality
                                            inquiries through
                                            their digital marketing efforts.
                                            Their team is very professional, responsive, and understands industrial
                                            business
                                            requirements well. In our experience, FOURTHDM is one of the best digital
                                            marketing agencies
                                            in Pune for manufacturing and industrial companies.
                                            <br>
                                            Highly recommended for businesses looking to grow online.
                                        </p>

                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>Apurva Live</b></div> <br>
                                        <p class="review">Really good experience working with FOURTHDM. They provided us
                                            with complete
                                            branding
                                            services, including logo design, website development, and band portfolio
                                            creation. Their
                                            designs are highly relatable, convincing, and aligned with our music
                                            identity.
                                            <br>
                                            They are a top digital marketing and design agency in Pune, especially for
                                            artists and bands
                                            looking to build a strong online presence.
                                        </p>

                                    </div>
                                </div>
                                <br>
                            </div><br>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>Neha Shitole</b></div> <br>
                                        <p class="review">FOURTHDM has helped Phoenix Hospital with complete digital
                                            marketing services
                                            including
                                            website design, hospital branding, SEO, social media marketing, and lead
                                            generation.
                                            Their strategies have improved our Google ranking, online visibility, and
                                            patient lead
                                            generation. They have a strong understanding of healthcare digital marketing
                                            and provide
                                            practical solutions.
                                            If you are looking for a reliable digital marketing agency in Pune for
                                            hospital SEO and
                                            online growth, FOURTHDM is a great choice.
                                        </p>

                                    </div>
                                </div>
                                <br>
                            </div><br>


                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b> Yash Mane</b></div> <br>
                                        <p class="review">As a small business owner from Satara, starting was quite
                                            confusing
                                            especially for branding
                                            and marketing. One of my friend suggested FOURTHDM team to me and they
                                            supported us from the
                                            beginning. They created our logo, brochure, standee and catalogue and also
                                            helped us understand how to grow online.
                                            Really happy with their support and work.
                                            Best designing company in Pune.
                                            <br>
                                            Thank you Vikas Sir.
                                        </p>

                                    </div>
                                </div>
                                <br>
                            </div><br>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>Jayashri Rupnar</b></div> <br>
                                        <p class="review">FourthDM is one of the best digital marketing agencies in
                                            Pune. They helped
                                            our small
                                            business with logo design, brochure and catalogue creation, and also
                                            improved our online
                                            presence through digital marketing. We have started getting better inquiries
                                            after working
                                            with them. <br>
                                            Thank you Vikas sir for Guidance.
                                        </p>
                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-6">
                                <div class="cardreview">
                                    <div class="card-body">
                                        <div> <i class="fa-solid fa-minus"></i> <b>Shrikant Pawar</b></div> <br>
                                        <p class="review">FOURTHDM is a very professional digital marketing agency in
                                            Pune. They
                                            understand the market
                                            and give practical solutions that actually work.
                                            <br>
                                            Thank you team
                                        </p>
                                    </div>
                                </div>
                                <br>
                            </div><br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<br>
<div class="container">

    <div class="text-center">
        <p class="headtext"> <b>Our Social Media</b></p>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="social">
                <div class="card-body"><iframe class="instagram-media instagram-media-rendered" id="instagram-embed-1"
                        src="https://www.instagram.com/fourthdm_media/embed/?cr=1&amp;v=12&amp;wp=636&amp;rd=https%3A%2F%2Ffourthdm.com&amp;rp=%2Fhome#%7B%22ci%22%3A1%2C%22os%22%3A9906455.399999999%2C%22ls%22%3A89.39999999850988%2C%22le%22%3A354.6000000014901%7D"
                        allowtransparency="true" allowfullscreen="true" frameborder="0" height="643"
                        data-instgrm-payload-id="instagram-media-payload-1" scrolling="no"
                        style="background: white; max-width: 100%; width: 99.375%; border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="social">
                <div class="card-body"><iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffourthdm.media&amp;tabs=timeline&amp;width=600&amp;height=620&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
                        width="100%" height="620" scrolling="no" frameborder="0" allowfullscreen="true"
                        title="social media pages facebook"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                        style="border: none; overflow: hidden;"></iframe></div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="">
    <div class="mobileview">
        <div class="bg-image">
            <img src="/assets/background.png" class="img-fluid" alt="Sample" />
            <div class="mask" style="background-color: rgba(36, 35, 35, 0.568);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="text-white mb-0 experience">
                        <br>
                        <span> We are Delivering
                            <br> The Best Customer Experience </span>
                        <br>
                        <button class="btn btn-lg btn-danger btn-rounded"> <a
                                href="https://wa.me/917709892292?text=Hii%20Welcome to Fourth Dimension Media"
                                target="_blank">
                                <b class="getstart">Let's Work</b> </a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="laptopview">
        <div class="bg-image">
            <img src="/assets/bg.png" class="img-fluid" alt="Sample" />
            <div class="mask" style="background-color: rgba(36, 35, 35, 0.568);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="text-white mb-0 experience">
                        <br>
                        <span> We are Delivering
                            <br> The Best Customer Experience </span>
                        <br>
                        <button class="btn btn-lg btn-danger btn-rounded"> <a
                                href="https://wa.me/917709892292?text=Hii%20Welcome to Fourth Dimension Media"
                                target="_blank">
                                <b class="getstart">Let's Work</b> </a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>