<div class="container">
</div>

<div class="main">

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d945.598112708381!2d73.9545211696247!3d18.556337470291535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c3c1a1d5918b%3A0x7231832dc0e40f66!2sFourthDM%20Media!5e0!3m2!1sen!2sin!4v1736832451194!5m2!1sen!2sin"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"
        title="Map"></iframe>

    <div class="container">
        <div class="row">

            <div class="col-md-3 ab"> <br>
                <h2>About</h2>
                <p style="margin-right: 13%;">We understand our customer needs, design strategies that help to grow
                    your business.
                    Web designing to
                    creating graphics & from SEO to Social Media we do everything do in Digital Marketing.</p>

            </div>

            <div class="col-md-3"><br>

                <ul>
                    <li style="list-style: none;" (click)="scrollToTop()" [routerLink]="['/service']">
                        <h2>Service's</h2>
                    </li>
                    <li style="list-style: none;" (click)="scrollToTop()"> <a [routerLink]="['/branding']"> Branding</a>
                    </li>
                    <li style="list-style: none;" (click)="scrollToTop()"> <a [routerLink]="['/marketing']">
                            Marketing</a>
                    </li>
                    <li style="list-style: none;" (click)="scrollToTop()"> <a [routerLink]="['/website']"> Website
                            Development</a></li>
                    <li style="list-style: none;" (click)="scrollToTop()"> <a [routerLink]="['/website']"> Application
                            Development</a></li>
                    <li style="list-style: none;" (click)="scrollToTop()"> <a [routerLink]="['/otherservice']"> Other
                            Services</a></li>
                    <li style="list-style: none;" (click)="scrollToTop()"> <a [routerLink]="['/ourwork']">Our Work </a>
                    </li>
                </ul>

                <ul style="list-style: none; display: flex; margin-left: -1%;">
                    <li class="list"> <a style="color: white;" href="https://www.facebook.com/fourthdm.media"
                            aria-label="Read more n" target="_blank"><i class="fa-brands fa-facebook"> </i> </a> </li>

                    <li class="list"> <a style="color: white;"
                            href="https://www.instagram.com/fourthdm_media/?igshid=NTc4MTwNjQ2YQ%3D%3D"
                            aria-label="Read more in instagram " target="_blank"><i class="fa-brands fa-instagram"> </i>
                        </a>
                    </li>

                    <li class="list"> <a style="color: white;"
                            href="https://www.linkedin.com/company/fourtharcdm-pvt-ltd/?viewAsMember=true"
                            target="_blank" aria-label="Read more in linkedin"><i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list"> <a style="color: white;" href="https://twitter.com/FourthArcDm"
                            aria-label="Readmore about twitter" target="_blank"><i class="fa-brands fa-twitter"> </i>
                        </a> </li>

                    <li class="list"> <a style="color: white;" href="https://in.pinterest.com/amolfourthdm"
                            aria-label="Read more about pinterest" target="_blank"><i class="fa-brands fa-pinterest">
                            </i> </a>
                    </li>
                </ul>

            </div>

            <div class="col-md-3"> <br>
                <ul>
                    <li style="list-style: none;" (click)="scrollToTop()" [routerLink]="['/home']">
                        <h2> Company </h2>
                    </li>
                    <li style="list-style: none;" (click)="scrollToTop()"><a [routerLink]="['/home']"> Home </a></li>
                    <li style="list-style: none;" (click)="scrollToTop()"><a [routerLink]="['/about']"> About Us </a>
                    </li>
                    <li style="list-style: none;" (click)="scrollToTop()"><a [routerLink]="['/service']">Service</a>
                    </li>
                    <li style="list-style: none;" (click)="scrollToTop()"><a [routerLink]="['/portfolio']"> Portfolio
                        </a>
                    </li>
                    <li style="list-style: none;" (click)="scrollToTop()"><a [routerLink]="['/blog']"> Blog </a></li>
                    <li style="list-style: none;" (click)="scrollToTop()"><a [routerLink]="['/contact']"> Contact Us
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-md-3 ">
                <br>
                <h2>Contact</h2>
                <i class="fa-solid fa-phone-volume fa-l"></i>
                02026608663 <br>
                +91 7709892292
                <br> <br>
                <i class="fa-solid fa-envelope fa-l"></i>
                yes&#64;fourthdm.com <br>
                vikas.t&#64;fourthdm.com
                <br> <br>
                <i class="fa-solid fa-location-dot"></i>
                Gera's Imperium Alpha,Grant Road, kharadi, pune, Maharashtra 411014.
            </div>
        </div>

        <hr>
        <div class="copyrights">
            <p>Copyright &copy; 2019 Fourthdm. All Rights Reserved.</p>
            <h2 class="letss">LET'S GROW TOGETHER</h2>
            <p class="powered">Powered By : <span><a href="fourthdm.com" target="_blank">
                        <img class="img" src="https://fourthdm-web-data.s3.ap-south-1.amazonaws.com/logofooter.png" alt="imagesss"></a></span>
            </p>

            <!-- src="https://fourthdm-web-data.s3.ap-south-1.amazonaws.com/logofooter.png" -->
        </div>
        <br>
    </div>
</div>