<div class="main">
    <div class="laptopview">
        <div class="bg-image">
            <img src="/assets/serviceBackground.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="container">
                        <div class="container"><br>
                            <p class="abouttext">FourthDM <br>
                                Digital Marketing Agency</p>
                            <br>
                            <p class="maintext animate__animated animate__fadeInLeft">
                                Your source for smart <br>marketing strategies
                            </p>
                            <p style="font-size: larger; color: white;">Tips, trends, and strategies that work</p>

                            <div class="text-end">
                                <p class="textend animate__animated animate__slideInRight"> Fuel for your digital growth journey</p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobileview">
        <div class="bg-image">
            <img src="/assets/serviceBackground.jpg" class="img-fluid" alt="Sample" width="100%" />
            <div class="mask" style="background-color: rgba(255, 254, 254, 0.247);">
                <div class="d-flex justify-content-center align-items-center h-100" style="padding: 3%;">
                    <div class="container"> <br><br>
                        <p class="mobileabouttext">FourthDM <br>
                            Digital Marketing Agency</p>
                        <p class="maintextmobile">
                            Your source for smart marketing strategies
                        </p>
                        
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container"> <br>
    <h1 style="text-align: center;  color: rgb(247, 136, 10);">BLOGS</h1>
    <br><br>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <p style="font-size: smaller; color: #ff4d00;;">FourthDM Digitial Marketing Agency</p>
                    <a href="" [routerLink]="['/Seo']" (click)="  Scroll()">
                        <h3>What Is SEO? A Beginner’s Guide to Search Engine Optimization, SEO Explained: What It Is and
                            How It Works for Beginners</h3>
                    </a>
                    <div class="row">
                        <div class="col-6">
                            <a href="" [routerLink]="['/Seo']" (click)=" Scroll()">
                                <p style="font-size: smaller;"><i class="fa-regular fa-circle-user"></i> FourthDM
                                    Digitial Marketing Agency</p>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" [routerLink]="['/Seo']" (click)=" Scroll()">
                                <p style="font-size: smaller;"><i class="fa-regular fa-clock"></i> Jun 05,2025</p>
                            </a>
                        </div>
                    </div>
                    <p>Ever wondered why some websites always appear at the top of Google while yours stays hidden?
                        That’s the power of SEO.
                        Having a website alone is not enough in today’s digital world. Whether you run a local business,
                        a personal blog, or an e-commerce store, visibility is everything. That’s where SEO comes in....
                    </p>
                    <button class="btn btn-outline-warning" [routerLink]="['/Seo']" (click)=" Scroll()">Read
                        More</button>
                </div><br>
                <div class="col-lg-4 col-md-12">
                    <a href="" [routerLink]="['/Seo']" (click)=" Scroll()">
                        <!-- <img src="/assets/blogs/seo2.jpg" alt=""> -->
                        <img src="https://fourthdm-web-data.s3.ap-south-1.amazonaws.com/seo2.jpg" alt="">
                    </a>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <a href="" [routerLink]="['/Web_Development']" (click)=" Scroll()">
                        <!-- <img src="/assets/blogs/107.jpg" alt=""> -->
                        <img src="https://fourthdm-web-data.s3.ap-south-1.amazonaws.com/107.jpg" alt="">
                    </a>
                </div>
                <br>
                <div class="col-lg-8 col-md-12">
                    <p style="font-size: smaller; color: #ff4d00;;">FourthDM Digitial Marketing Agency</p>
                    <a href="" [routerLink]="['/Web_Development']" (click)="  Scroll()">
                        <h3>Web Development in 2025:A FourthDM Guide </h3>
                    </a>
                    <div class="row">
                        <div class="col-6">
                            <a href="" [routerLink]="['/Web_Development']" (click)=" Scroll()">
                                <p style="font-size: smaller;"><i class="fa-regular fa-circle-user"></i> FourthDM
                                    Web Development Team</p>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" [routerLink]="['/Web_Development']" (click)=" Scroll()">
                                <p style="font-size: smaller;"><i class="fa-regular fa-clock"></i> Feb 18,2025</p>
                            </a>
                        </div>
                    </div>
                    <p>In today’s digital-first world, your website’s backend is just as crucial as its front-end
                        appeal. At FourthDM, we build websites that are responsive, secure, scalable, and
                        high-performing—ensuring they serve your business and audience effectively....
                    </p>

                    <button class="btn btn-outline-warning" [routerLink]="['/Web_Development']" (click)=" Scroll()">Read
                        More</button>
                </div><br>

            </div>
        </div>
    </div>
</div>
<br>