.p {
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70PX;
    font-weight: 900;
}

@media(max-width:414px) {
    .main {
        margin-top: 17%;
    }
}


a {
    color: black;
}

@media(max-width:439px) {
    .p {
        font-size: 30px;
        margin-top: 5%;
    }

}

.div {
    padding: 10%;
    padding-top: 5%;
    font-weight: 500;
    text-align: center;
}


.i {
    text-align: center;
    animation: triangle 1s infinite;
}

.m {
    text-align: center;
    color: #56b947, #ffd533, #0a6481;
    animation: motion 1s infinite;
}

.w {
    text-align: center;
    color: #ef3f39;
}

img {
    /* border-radius: 3%; */
    width: 100%;
}

h1 {
    color: #ffa719;
}

h3 {
    font-weight: 700;
}

.btn-outline-warning:hover {
    background-color: #ffa719;
    color: white;
}

.laptopview {
    display: block;
}

.mobileview {
    display: none;
}

@media(max-width: 439px) {
    .abouttext {
        border-left: 2px solid white;
        /* padding-left: 1%; */
        font-size: 2px;
    }

    .maintext {
        font-size: 8px;
        font-weight: 500;
    }

    .textend {
        font-size: small;
        padding-left: 13%;
    }

    .experience {
        font-size: 1.5em;
    }

    .getstart {
        font-size: medium;
    }

    .mobileview {
        display: block;
    }

    .laptopview {
        display: none;
    }
}

.abouttext {
    border-left: 2px solid white;
    padding-left: 1%;
    color: white;
}

.mobileabouttext {
    border-left: 2px solid white;
    padding-left: 1%;
    color: white;
    font-size: small;
}

.maintextmobile {
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.maintext {
    font-size: 4em;
    font-weight: 500;
    color: white;
}

.textend {
    color: white;
    font-size: larger;
    padding: 3% 1% 3% 10%;
}